.homepage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-text{
    color:#333333;
    text-align: center;
    font-size: 2.4rem;
    span{
        color:#812516;
        margin-left: .5rem;
    }
}

.h-sub-text{
  text-align: center;
  font-size: 1.4rem;
  color: #D1D1D1;
}

.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    .icon-holder{
       margin-right: 1rem;
        .icon{
            font-size: 2.3rem;
            color: #555;
            transition: all .4s ease-in-out;
        }
        .github:hover {
            color: #000000;
        }
        .li:hover{
            color: #0e76a8;
        }
    }
}